<!DOCTYPE html>
<html>

<head>
  <title>Flight-Logbook</title>

  <!-- Reset CSS -->
  <link rel="stylesheet" href="/stylesheets/reset.css" />

 <!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

 <!-- jQuery library -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 
 <!-- Popper JS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

 <!-- local CSS-->
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

  <body>
      <nav>
        <a href="/students"><img id="logo" src="/images/flightlogger logo-01.jpg" alt="logo"></a>
        <% if (student) { %>
          
        <button type="button" class="btn btn-outline-info logout">
          <a href="/logout">Log Out</a>
        </button>
      
        <% } else { %>
          <button type="button" class="btn btn-outline-info logout"><a href="/auth/google"><img src="/images/google.svg" alt="google-signin">Login</a></button>
        <% } %>
    </nav>
  







