<head>

    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/landing.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

</head>

<img class="landing-img" src="/images/landing.jpg" alt="">
<div class="landing-container">
    <h2 id="landing-title">Log & Track Your Lessons</h2><br>
</div>
    
<div class="landing-container">
<p id="landing-description">FlightLogger is an interactive web application...</p>
</div>
