<head>

    <!-- <link rel="stylesheet" href="/stylesheets/reset.css" /> -->
    <link rel="stylesheet" href="/stylesheets/landing.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <link href="https://fonts.googleapis.com/css?family=Livvic&display=swap" rel="stylesheet"> 

</head>

<img class="landing-img" src="/images/landing.jpg" alt="">
<div class="landing-container">
    <h2 id="landing-title">Flight Logger</h2><br>
</div>
    
<div class="landing-container">
    <p id="landing-description">FlightLogger is an interactive web application for student pilots to record and track lesson progress as an accessory to a personal flight scheduler.</p>
</div>
