
<%- include('../partials/header')%>


<form action="/lessons" method="POST">
<label>Category:</label>
    <input type="text" name="category">
<label>Date:</label>
    <input type="date" name="date">
<label>Plane:</label>
    <select name="plane">
        <% planes.forEach(function(p) { %>
        <option><%= p %></option>
        <% }) %>
    </select>
<label>Hobbs:</label>
    <input type="number" step='0.01' name="hobbsTime">
<label>Description:</label>
    <input type="text" name="description">
<label>Weight & Balance:</label>
    <input type="number" step="0.1" name="weightAndBalance">

<button type="submit">Add Lesson</button>
</form>