
body{
  font-family: 'Livvic', sans-serif;
  background-color: rgba(210, 217, 233, 0.3);
}


/* BUTTONS & LINKS */

.btn a {
  text-decoration: none;
}

.btn, .btn-outline-info {
  margin-left: 10px;
  height: 30px;
  background: #FFFFFF;
  border: 0.2px solid #2AA5FE;
  border-radius: 9px;
  box-sizing: border-box; 
}

#add-lesson {
  color:white;

}

.add-btn{
  margin: 10px;
}

.edit-delete-img{
  height:19px;
  width: 19px;
}

button{ 
  display: flex;
  align-content: center;
  justify-items: center;
  border: none;
  background-color: transparent;
  margin-right: 10px;
}

.btn {
  display: flex;
  justify-content: space-around;
  width: 122px;
  height: 38px;
  left: 825px;
  top: 129px;
  background-color: rgb(42, 165, 254);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logout {
  background-color: white;
}

.logout a {
  color:#2AA5FE;
}

.logout a:hover {
  color:black
}


.btn-outline-info:hover {
  color: #fff;
  background-color:whitesmoke;
  border-color:#2AA5FE;
}

/* Navbar */

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;


  position: absolute;
  left: 1.61%;
  right: 1.61%;
  top: 0%;
  bottom: 91.6%;
  background:  rgb(42, 165, 254);;
  box-shadow: 0px 4px 4px rgba(146, 102, 102, 0.25);
  border-radius: 4px;
}




/* CONTAINERS */

.container {
  display: grid;
  grid-template-areas: 
  "side content";
  grid-template-columns: 200px  200px;
  grid-gap: 25px;;
}

main {
display: flex;
flex-direction: column;
position: absolute;
left: 26.81%;
right: 2.52%;
top: 10.9%;
bottom: 10.9%;

background: #F7F7F9;
border: 2px solid #979797;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 4px;
}

main :first-child{
  align-self: flex-end;
}

main :nth-child(2){
  align-self: center;
}

footer{
  position: absolute;
  left: 1.61%;
  right: 1.61%;
  top: 91.6%;
  bottom: 0%;
  color: white;
  background: #2AA5FE;
  border-radius: 4px;
  text-align: center;
  display: grid;
  align-content: center;
}

/* FORM */

.add-form {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}

/* TABLE */
tbody  h1 {
  display: flex;
  justify-content: center;
  align-content: center;
}

th {
  font-weight: bold;
}


