
body{
  padding: 50px;
  font-family: Helvetica Neue;
  background: #FFFFFF;
  font-style: normal;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;

}
th {
  font-weight: bold;
}
nav{
  position: absolute;
  left: 1.61%;
  right: 1.61%;
  top: 0%;
  bottom: 91.6%;
  background:  #2AA5FE;;
  box-shadow: 0px 4px 4px rgba(146, 102, 102, 0.25);
  border-radius: 4px;
}

#landing-description {
  position: absolute;
  left: 25%;
  right: 24.9%;
  top: 57.5%;
  bottom: 28.7%;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 46px;

  /* or 209% */
  display: flex;
  align-items: flex-end;
  text-align: center;

  color: #373A3C;
  left: 23.19%;
  right: 23.08%;
  top: 56.9%;
  bottom: 28.1%;

  background: #F7F7F9;
  border: 2px solid #979797;
  border-radius: 4px;

}

#flight-hours{
text-align: center;
font-style: normal;
font-weight: 300;
font-size: 60px;
line-height: 70px;
letter-spacing: -0.005em;
color: #000000;
  
}
#flight-hours > p {
  font-size: 25px;
}

a {
  color:black
}

aside > #avatar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  margin: auto;
  padding-top: 20px;
}

.container {
  display: grid;
  grid-template-areas: 
  "side content";
  grid-template-columns: 200px  200px;
  grid-gap: 25px;;

}

aside {
position: absolute;
left: 2.52%;
right: 75.71%;
top: 10.9%;
bottom: 10.9%;
background: #F7F7F9;
border: 2px solid #979797;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 4px;
}

main {
position: absolute;
left: 26.81%;
right: 2.52%;
top: 10.9%;
bottom: 10.9%;

background: #F7F7F9;
border: 2px solid #979797;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 4px;
}

h2{
  font-size: 30px;
  text-align: center;
}

footer{
  position: absolute;
  left: 2.52%;
  right: 2.52%;
  top: 91.6%;
  bottom: 0%;

  background: #2AA5FE;
  border-radius: 4px;
}