
body{
  padding: 50px;
  font-family: Helvetica Neue;
  background: #FFFFFF;
  font-style: normal;
}

#logo, .btn, .btn-outline-info{
  margin-left: 10px;
  height: 30px;
  background: #FFFFFF;
  border: 0.2px solid #2AA5FE;
  border-radius: 9px;
  box-sizing: border-box; 
}

th {
  font-weight: bold;
}

.btn {
  width: 122px;
  height: 38px;
  left: 825px;
  top: 129px;
  background-color: #2AA5FE;
}

.btn a {
  text-decoration: none;
  color: white;

}

a:hover {
  color: black;
}


.btn-outline-info:hover {
  color: #fff;
  background-color:whitesmoke;
  border-color:#2AA5FE;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;


  position: absolute;
  left: 1.61%;
  right: 1.61%;
  top: 0%;
  bottom: 91.6%;
  background:  #2AA5FE;;
  box-shadow: 0px 4px 4px rgba(146, 102, 102, 0.25);
  border-radius: 4px;
}



#flight-hours{
text-align: center;
font-style: normal;
font-weight: 300;
font-size: 60px;
line-height: 70px;
letter-spacing: -0.005em;
color: #000000;
  
}
#flight-hours > p {
  font-size: 25px;
}

a {
  color:black
}

aside > #avatar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  margin: auto;
  padding-top: 20px;
  border-radius: 3px;
}

.container {
  display: grid;
  grid-template-areas: 
  "side content";
  grid-template-columns: 200px  200px;
  grid-gap: 25px;;

}

aside {
text-align: center;
position: absolute;
left: 2.52%;
right: 75.71%;
top: 10.9%;
bottom: 10.9%;
background: #F7F7F9;
border: 2px solid #979797;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 4px;
}

main {
display: flex;
flex-direction: column;
/* align-items: center; */
/* justify-content: center; */
position: absolute;
left: 26.81%;
right: 2.52%;
top: 10.9%;
bottom: 10.9%;

background: #F7F7F9;
border: 2px solid #979797;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 4px;
}


footer{
  position: absolute;
  left: 2.52%;
  right: 2.52%;
  top: 91.6%;
  bottom: 0%;
  color: white;
  background: #2AA5FE;
  border-radius: 4px;
}

.add-form {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}